/* banière haute avec menu */

header {
    background-color: #EDEFE7;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 25vh;
}

footer {
    background-color: #000000;
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

header img {
    height: 90%;
    border-radius: 10px;
}

#presentation {
    width: 75vw;
    margin: 20px auto;
    background-color: #000000;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 5px 10px black;
}

nav.menu-nav ul li.button {
    list-style-type: none;
    display: inline-block;
}

nav.menu-nav ul li.button a {
    color: #ffde59;
    text-decoration: none;
    background-color: #000000;
    padding: 10px;
    border-radius: 10px;
}

nav.menu-nav ul li.button:hover a {
    color: #000000;
    background-color: #ffde59;
    transition: 0.4s all;
}


/* titre + texte */

h1 {
    color: #ffde59;
    font-size: 100px;
    text-align: center;
}

h2 {
    color: #000000;
    font-size: 60px;
    text-align: center;
}

h4 {
    color: #ffde59;
    font-size: 30px;
    padding: 10px;
}

h5 {
    color: #ffde59;
    font-size: 20px;
    padding: 10px;
}

p {
    color: #EDEFE7;
    text-align: center;
}

body {
    background-color: #EDEFE7;
    font-family: sans-serif;
}

summary {
    font-family: sans-serif;
    color: #EDEFE7;
}

#more {
    font-size: 20px;
    color: inherit;
    text-decoration: underline;
}

#more:hover {
    color: #ffde59;
    text-decoration: none;
}


/* big card */

.bigcard {
    width: 75vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


/* cards */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.card {
    width: 30%;
    background: #000000;
    border: 1px solid #ccc;
    margin: 50px 0px;
    transition: 0.3s;
    border-radius: 10px;
}

.card-body {
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
}


/* embedded content */

.artNews {
    width: 75vw;
    margin: auto;
    display: flex;
    justify-content: space-around;
}


/* à mettre si j'aoute un bouton:
.card-body .btn{
  display: block;
  color: #fff;
  text-align: center;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  margin-top: 30px;
  padding: 10px 5px; */

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0, 0.25);
}


/* Newletter */


/* form */

.informationForm {
    display: flex;
    justify-content: space-around;
    width: 60vw;
    margin: auto;
}

.fieldItem {
    margin: 10px 10px;
    color: #EDEFE7;
}

.formFrame {
    width: 100%;
}


/* description */

.descriptiveText {
    margin: 10px 10px;
}


/* flex prop */

#flexRight {
    display: flex;
    justify-content: flex-end;
}

#flexSpace {
    display: flex;
    justify-content: space-between;
}

#flexAround {
    width: 30%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


/*media queries*/

@media screen and (max-width:1000px) {
    .card {
        width: 40%;
    }
}

@media screen and (max-width:620px) {
    .container {
        width: 40%;
    }
    .heading {
        padding: 20px;
        font-size: 20px;
    }
    .card {
        width: 80%;
    }
}

/* Links css */

.social-menu ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #e4405f;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #ff3300;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #1DB954;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #000000;
}
